body{
    background-image:linear-gradient(180deg, #000000, #434343);;
  font-family: 'Comfortaa', cursive;
}

h1{
  text-align:center;
  font-size: 54px;
}

#img-div{
  width:100%;
  height:100%;
}

main{
 background-image: linear-gradient(100deg, #eacda3, #d6ae7b);
 margin-left: 100px;
 margin-right: 100px;
}

#image{
  display: block;
  max-width:90%;
  margin:auto;
 
}

figcaption{
  text-align:center;
}

#tribute-info{
  text-align:center;
  font-size:32px;
  padding: 30px 40px;
}

h2{
  text-align:center;
  font-size: 40px;
}
ul{
  text-align: left;
   font-size: 28px;
   padding: 1px 110px;
}
li{
  padding-top:16px;
}

#link{
  text-align:center;
  font-size: 30px;
  padding-bottom:20px;
}

#title-box{
  padding-top:10px;
}

